.grid-cols-2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.grid-cols-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cols-span-3 {
    grid-column: span 3 / span 3;
}