.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 40px;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12)
}

.button:hover {
    animation: pulse 0.5;
    background-color: antiquewhite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    70% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}